:root {
    --primary-background: #f2f1f1;
    --secondary-background: #36454F;
    --tertiary-background: #ebecf0;
    --primary-color: black;
    --secondary-color: #f2f1f1;
    --accent-color: #0077c0;
}

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

.default-button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--accent-color);
    margin: auto 20px;
    color: var(--secondary-color);
}